# ===== HuggingFace 镜像 =====
HF_ENDPOINT=https://hf-mirror.com
HF_HUB_DISABLE_SYMLINKS_WARNING=1

# ===== LangSmith 监控（不需要可设为 false）=====
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=你的langsmith_key
LANGSMITH_PROJECT=agent01

# ===== DeepSeek API =====
DEEPSEEK_API_KEY=你的deepseek_key
